
export TF_VAR_wddp_prod_es_auth={{ op://zz5esffrofiy444ee2alcmenmi/g4a7ct4lgakbd3nujpb2u6vpky/username }}:{{ op://zz5esffrofiy444ee2alcmenmi/g4a7ct4lgakbd3nujpb2u6vpky/credential }}

export TF_VAR_wddp_firebase_service_account_base64="$(op document get "WDDP firebase service account doc"|base64)"
