beautifulsoup4==4.12.*
nltk==3.9.*
tqdm==4.66.*
python-Levenshtein==0.25.*
openai==1.52.*
requests==2.32.*
langchain==0.3.*
langchain-openai==0.2.*
langchainhub==0.1.*
tiktoken==0.8.*
chromadb==0.5.*
transformers==4.46.*
torch==2.5.*
langchain-community==0.3.*
jsonpath-extractor==0.9.*
elasticsearch==7.10.*
numpy==1.26.4
pymupdf==1.25.1
