beautifulsoup4==4.12.3
nltk==3.8.1
tqdm==4.66.3
python-Levenshtein==0.25.1
openai==1.25.1
requests==2.32.2
langchain==0.2.0
langchain-openai==0.1.7
langchainhub==0.1.15
tiktoken==0.7.0
chromadb==0.5.0
transformers==4.41.1
torch==2.3.0
langchain-community==0.2.0
