name: Run tests

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: '3.11'
      - name: Install uv
        uses: astral-sh/setup-uv@v4
      - name: Install dependencies
        run: |
          sudo apt install ninja-build
          uv sync --extra dev
      - name: Run unit tests
        run: |
          uv run python nltk-download.py
          SKIP_SLOW=1 uv run python -m unittest
        env:
          WDDP_STORAGE_SERVICE_ACCOUNT_CREDENTIALS: ${{ secrets.WDDP_STORAGE_SERVICE_ACCOUNT_CREDENTIALS }}
      - name: Linting
        run: |
          uv run pylint --fail-under 6 transparentdemocracy
